<div class="d-flex mb-2">
    <div class="flex-grow-1">
        <div class="d-flex">
            <img [src]="job.companyLogo" [alt]="job.companyName" width="50px" />
            <div class="ml-3">
                <div><a [routerLink]="'job/'+ job.id"><strong>{{job.title}}</strong></a></div>
                <div>
                    <small>Company : {{job.companyName}}&nbsp;&nbsp;&nbsp;Reference : {{job.reference}}</small>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showStarIcon">
        <span class="icon-star" [ngClass]="{'active' : job.isFavorite}" [id]="'star-' + job.id" (click)="toggleFavoriteStatus()"></span>
    </div>
</div>
