/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';



/**
 * <span class="icon-star"></span>
 * <span class="icon-star" style="color: red"></span>
 */

body{
    background-color: #ebeff5;
} 

span.icon-star {
    background-image: unset;
    background-color: currentColor;
    mask-size: cover;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
    cursor: pointer;
}

span.icon-star.active {
    background-color: yellow;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='yellow' stroke='grey' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}

a {
    text-decoration: none; /* Remove underline by default */
    color: black !important;
}

/* Style the link only on hover */
a:hover {
    text-decoration: underline; /* Underline on hover */
}

.nav-link{
    border-radius: 0 !important;
    height: 100%;
    background: #e7ebf1;
    color: #3b4252;
    text-transform: uppercase;
}

.nav-tabs{
    height: 3rem;
}

.nav-link.active, .nav-link.active:hover{
    background-color: #3b4252 !important;
    color: white !important;
}

.nav-link:hover{
    background-color: #dee2e6!important;
    color: #3b4252;
}


